<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма создания и редактирования Авторов</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    {% if user.is_superuser %}
    <div class="ml-3">
        <form method="post">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <input type="submit" value="Сохранить">
        </form>
    </div>
    {% else %}
    <h5 class="text-center mt-5">У вас нет доступа. Для редактирования войдите от имени суперпользователя.</h5>
    {% endif %}
    {% endblock %}
</body>
</html>