<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create multiple Authors and Books</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    {% if user.is_superuser %}
    <div class="ml-3">
            <form method="post">
                {% csrf_token %}
                
                {{ author_formset.management_form }}
                <table>
                    <tbody>
                    {% for form in author_formset %}
                        <td style="padding-right: 20vw; padding-left: 20px;">{{ form.as_p }}<br></td>
                    {% endfor %}
                    </tbody>
                </table>
                
                {{ book_formset.management_form }}
                <table>
                   <tbody>
                   {% for form in book_formset %}
                       <td style="padding-right: 10vw; padding-left: 20px;">{{ form.as_p }}<br></td>
                   {% endfor %}
                   </tbody>
                </table>
                
                <input style="margin-top: 5vh; margin-left: 20px;" type="submit" value="Сохранить"/>  
     
             </form>
    </div>
    {% else %}
    <h5 class="text-center mt-5">У вас нет доступа. Для редактирования войдите от имени суперпользователя.</h5>
    {% endif %}
    {% endblock %}
</body>
</html>
